@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');
@import "tailwindcss";
@import "../styles/base/font.css";

@theme {
  /* colors */
  --color-bg-black: #131112;
  --color-bg-white: #fafafa;
  --color-neutral-40: #f4f4f4;
  --color-neutral-30: #c3c3c3;
  --color-neutral-20: #929292;
  --color-neutral-10: #626262;
  --color-neutral-5: #3d3d3d;
  --color-neutral-0: #202020;
  --color-prime-violet: #a93ca1;
  --color-prime-blue: #2d65ca;
  --color-tech-explanation: #3de783;
  --color-tech-attention: #f34a4a;
  --color-tech-suggest: #d6a03d;
  /* typography */
  --font-onest: 'Onest', sans-serif;
  --text-title30-bold: var(--title30-bold);
  --text-title30-reg: var(--title30-reg);
  --text-title24-bold: var(--title24-bold);
  --text-title24-reg: var(--title24-reg);
  --text-title20-sbold: var(--title20-sbold);
  --text-title20-reg: var(--title20-reg);
  --text-body17-sbold: var(--body17-sbold);
  --text-body17-reg: var(--body17-reg);
  --text-body16-bold: var(--body16-bold);
  --text-body16-reg: var(--body16-reg);
  --text-body15-reg: var(--body15-reg);
  --text-body14-reg: var(--body14-reg);
  --text-sub13-reg: var(--sub13-reg);
  --text-sub12-bold: var(--sub12-bold);
  --text-sub12-reg: var(--sub12-reg);
  --text-sub10-bold: var(--sub10-bold);
  --text-sub10-reg: var(--sub10-reg);
  /* spacing */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.no-spinner {
  -moz-appearance: textfield; /* Firefox */
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;    /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;            /* Chrome, Safari */
}
