:root {
    --background-black: #131112;
    --background-white: #fafafa;
    --neutral-40: #f4f4f4;
    --neutral-30: #c3c3c3;
    --neutral-20: #929292;
    --neutral-10: #626262;
    --neutral-5: #3d3d3d;
    --neutral-0: #202020;
    --prime-violet: #a93ca1;
    --prime-blue: #2d65ca;
    --tech-explanation: #3de783;
    --tech-attention: #f34a4a;
    --tech-suggest: #d6a03d;
    }